{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "alias": {
          "@pokedex": ".",
          "@hooks": "./src/hooks"
        }
      }
    ]
  ]
}
